#bg{
    background-color: #637e94;
}

#logo {
    display: inline-block;
    float: left;
    padding: 3px 5px;
  }
  #logo img {
    width: 300px;
  }
  body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  #header {
    width: 100%;
    background-color: #637e94;
    padding: 5px;
    height: 60px;
  }
  #buttoncontainer {
    width: 200px;
    display: inline-block;
    margin: 0px auto;
  }
  .togglebutton {
    float: right;
    border: 1px solid grey;
    padding: 6px;
    border-right: none;
    margin: 7px 0px;
    cursor: pointer;
  }
  #bodycontainer {
    display: flex;
    justify-content: space-around;
  }
  #html {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #output {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid grey;
  }
  .active {
    background-color: #e8f2ff;
  }
  .highlightedbutton {
    background-color: grey;
  }
  textarea {
    border-top: none;
    border-color: grey;
    resize: none;
  }
  .panel {
    float: left;
    width: 50%;
    border: 2px solid black;
    border-left: none;
  }
  iframe {
    border: none;
  }
  .hidden {
    display: none;
  }
  
 
  #day{
    display: block;
    width: 70px;
    height: 30px;
    float: right;
    border:white solid;
    border-radius: 14px;
    margin: 9.5px;
  }
  #day:hover{
    border-color: black;
  }
  #night{
    display: none;
    width: 70px;
    height: 30px;
    float: right;
    border:black solid;
    border-radius: 14px;
    margin: 9.5px;
    border-color: black;

  }
  #night:hover{
    border-color: white;
  }
  @media screen and (min-width: 737px) {
    .mobileView {
      display: none;
    }
    #drop {
      display: none;
    }
    #menubar {
      display: none;
    }
  }

  @media screen and (max-width: 736px) {
    #logo img{
        height: auto;
        width: 200px;
        margin-top: 12px;
      }

    .buttoncontainer {
      display: none;
    }
    .mobileView {
      display: block;
    }
    #bodycontainer {
      display: none;
    }
    textarea {
      border-top: none;
      border-color: grey;
      height: 300px;
      margin: 0 0;
      width: auto;
    }
    p {
      font-size: 20px;
    }
    .panel {
      margin: 0px;
      width: 100%;
      border: 2px solid black;
    }
    #outputpanelM {
      height: 635px;
    }
    #max {
      float: right;
      margin: 7px 11px;
    }
    #min {
      float: right;
      margin: 7px 11px;
      display: none;
    }
    #menubar img {
      float: right;
      display: inline-block;
      height: 50px;
      margin: 3px 2px;
      border: solid;
      height: 45px;
      width: 40px;
    }
    #hov:hover {
      background-color: rgb(39, 16, 108);
      border: yellow solid 1px;
    }
    #drop {
      /* background-color: #002b4e; */
      width: 50%;
      opacity: 1;
      display: inline;
      right: 0;
      height: 220px;
      position: absolute;
      z-index: 2;
      margin-top: 53px;
      padding-right: 3px;

      opacity: .98;
      background-image: linear-gradient(rgb(70, 83, 17), rgb(26, 27, 26));
      display: none;
      box-shadow: 0 3px 10px rgba(129, 124, 124, 0.2);
      border-bottom-right-radius: 13px;
      border-bottom-left-radius: 13px;

    }
    a {
      display: block;
      font-size: 25px;
      padding-left: 20px;
      margin-top: 20px;
      /* text-decoration: none; */
      color: white;
      text-shadow: 2px 2px red;
    }
    a:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 4px;
    }
    a:hover {
      color: white;
    }
    .themeout {
      background-image: linear-gradient(rgb(2, 51, 61), rgb(117, 149, 179));
    }
  }
  #nightM{
    display: none;
    height:35px;border-radius: 12px;margin-left: -10px;
  }
  #dayM{
   height:35px;border-radius: 12px;margin-left: -10px;
   display: block;
  }
